*{
    font-family: "Open Sans","Microsoft YaHei","Hiragino Sans GB","Hiragino Sans GB W3","微软雅黑","Helvetica Neue",Arial,sans-serif;
}

.layout {
    background-color: white;
    height: 100%;
}

.layout_left_sider {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 5px;
    background: #f9f7f3;
    flex: none !important;
    width: 210px !important;
    max-width: 210px !important;
}

.layout_right_content_layout {
    height: 100%;
    width: 100%;
    background: #fff;
}

.layout_right_content_layout_markdown_scroll {
    overflow-y: scroll;
}

.layout_right_content_layout_markdown_scroll::-webkit-scrollbar {
    width: 0 !important
}
