.cards-review-body {
    margin: 5px;
}

.cards-review-bottom {
    transition: height .5s ease-in;
    position: absolute;
    z-index: 10;
    background: white;
    bottom: 0;
    width: 100%;
}

.cards-review-bottom-visible-icon {
    background: #f8f6f1;
    height: 30px;
    font-size: 12px;
    font-weight: lighter;
    line-height: 35px;
    font-style: italic;
    text-align: center;
}

.cards-review-bottom-card-item {
    display: inline-block;
    width: 250px;
    height: 160px;
    margin: 10px 5px 5px 5px;
}

.cards-review-bottom-card-item header span {
    display: inline-block;
    font-style: italic;
    font-size: 12px;
}

.cards-review-bottom-item-box {
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
}

.review-tool-box {
    position: absolute;
    z-index: 1000;
    right: 20px;
    transition: bottom .5s ease-in-out;
}

.review-tool-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    background: #f8f6f1;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    opacity: .7;
}

.review-tool-icon:hover {
    opacity: 1;
}

.card-cell-content {
    font-size: 11px;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-cell-item {
    height: 100%;
    overflow-y: scroll;
}

.card-cell-item::-webkit-scrollbar {
    width: 0px !important;
}

.card-review-box-outline {
    overflow-y: scroll;
    width: 100%;
    max-width: 950px;
    height: 100%;
    background: white;
    z-index: 10;
    margin: 0 auto;
    padding: 10px 10px 100px;
    position: absolute;
    transition: margin-top 1s ease-in-out;
}
.card-review-box-outline::-webkit-scrollbar{
    width: 0px;
}
.card-review-box-content {
    max-width: 950px;
    width: 950px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: 5px 10px 100px 10px #f8f6f1, -5px 0 5px -100px #f8f6f1;
}

.review-outline-item {
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-bottom: 10px;
    position: relative;
    color: rgb(25, 23, 17);
}

.review-outline-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b7906b;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.review-outline-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
