.file-card-box {
    width: 220px;
    margin: 5px 0;
    height: 100px;
}

.file-card-box-selected {
    background-color: #f9f7f3;
}

.file-card-li-title {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-card-file-icon, .file-card-dir-icon {
    font-size: 18px;
    margin-right: 5px;
}

.file-card-dir-icon {
    color: #b7906b;
}

.file-card-file-icon {
    color: #2e99ff;
}

.file-card-extra {
    font-size: 12px;
    opacity: .5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.file-card-extra-delete-icon {
    margin-right: 30px;
    float: right;
    font-size: 14px;
    color: #b7906b;
    cursor: pointer;
}

.file-card-extra-edit-icon {
    margin-right: 10px;
    float: right;
    font-size: 14px;
    color: #2e99ff;
    cursor: pointer;
}
.file-card-pined-icon{
    font-size: 30px;
    margin: -35px 0 0 -15px;
    position: absolute;
    color: #b7906b;
}