.markdown_box_title {
    border: none;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 600;
}

.markdown_box_content {
    padding-bottom: 120px;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 120px;
}

.markdown_box_bar {
    margin-top: -10px;
    height: 30px;
    box-shadow: 10px 5px 5px #f8f6f1;
    line-height: 30px;
}

.markdown_box_tool {
    display: inline-block;
    position: absolute;
    right: 530px;
}

.markdown_box_header {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: white;
}

.markdown_box_tag {
    display: inline-block;
}

.markdown_box_tag_item {
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    padding: 4px;
}

.markdown_box_tag_item:first-child:hover {
    background: rgba(25, 23, 17, 0.1);
    border-radius: 5px;
}

.markdown_box_tag .ant-select-selection {
    border: none;
    background: none;
}

.markdown_bottom_tool_record {
    font-style: italic;
    text-decoration: underline;
    margin-left: 10px;
    font-size: 10px;
}

.markdown-tree-bar {
    padding: 5px;
    border-right: 1px solid #f8f6f1;
    width: 200px;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1000;
    background: white;
    position: fixed;
}

.markdown-tree-bar::-webkit-scrollbar {
    width: 0px;
}

.markdown-outline-item {
    font-size: 12px;
    font-style: italic;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-bottom: 5px;
    position: relative;
    color: rgb(25, 23, 17);
}

.markdown-outline-item:hover {
    background: #f8f6f1;
    border-radius: 5px;
}

.markdown-outline-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #b7906b;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.markdown-outline-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.CodeMirror .cm-spell-error {
    background-image: url("https://raw.githubusercontent.com/jwulf/typojs-project/master/public/images/red-wavy-underline.gif");
    background-position: bottom;
    background-repeat: repeat-x;
}

#suggestBox {
    display: inline-block;
}

#suggestBox > select {
    padding: 5px;
    font-size: 12px!important;
}

#suggestBox > select > option:hover {
    box-shadow: 0 0 10px 100px #b7906b inset;
    color: white;
}