.markdown_box_title {
    border: none;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 600;
}

.markdown_box_bar {
    margin-top: -10px;
    height: 30px;
    box-shadow: 10px 5px 5px #f8f6f1;
    line-height: 30px;
}

.markdown_box_tool {
    display: inline-block;
    position: absolute;
    right: 530px;
}

.markdown_box_header {
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: white;
}

.markdown_box_tag {
    display: inline-block;
}

.markdown_box_tag .ant-select-selection {
    border: none;
    background: none;
}

.markdown_bottom_tool_icon {
    margin-top: -10px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
}

.markdown_bottom_tool_record {
    font-style: italic;
    margin-left: 10px;
    font-size: 13px;
}

.markdown_bottom {
    position: fixed;
    z-index: 20;
    bottom: 0;
    background: white;
    height: 35px;
    width: 100%;
}
