.statistic-note-item {
    height: 60px;
    background: #f9f7f3;
    padding: 5px;
    border-radius: 10px;
}

.statistic-note-item-title {
    font-weight: 600;
    font-style: italic;
}

.statistic-note-item-time {
    float: right;
}

.statistic-note-item-tags {
    display: block;
    margin-top: 5px;
}