
.CodeMirror {
    height: 100% !important;
}

.CodeMirror-vscrollbar {
    width: 0px!important;
}

.CodeMirror-gutters {
    background: none !important;
}

.CodeMirror-code {
    min-height: 1000px;
}