
.CodeMirror {
    height: 100% !important;
}

.CodeMirror-vscrollbar {
    width: 0px !important;
}

.CodeMirror-gutters {
    background: none !important;
}

.CodeMirror-code {
    min-height: 1000px;
}

.cm-s-hypermd-light img.hmd-image {
    max-height: 500px !important;
    display: block;
}
.CodeMirror-foldgutter{
    width: 0px!important;
}