
.layout_right_content_layout_left_menu {
    width: 220px;
    height: 100%;
    box-sizing: content-box;
    padding: 5px;
    float: left;
}

.layout_right_content_layout_left_menu_scroll {
    height: 100%;
    border-right: 1px solid #f8f6f1;
    padding-right: 2px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}
.layout_right_content_layout_left_menu_scroll::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

.layout_right_content_layout_left_menu_scroll::-webkit-scrollbar-thumb {
    background: #b7906b;
    border: 71px none #ffffff;
    border-radius: 31px;
}

.layout_right_content_layout_left_menu_scroll::-webkit-scrollbar-thumb:hover {
    background: #b7901f;
}

.layout_right_content_layout_left_menu_bottom {
    position: fixed;
    bottom: 0;
    height: 35px;
    font-size: 12px;
    z-index: 100;
    background: white;
    width: 222px;
}

.layout_right_content_layout_left_menu_tool {
    width: 220px;
    height: 30px;
    padding: 0 10px;
    border-left: 5px solid #b7906b;
    line-height: 30px;
}