.layout {
    background-color: white;
    height: 100%;
}

.layout_left_sider {
    height: 100%;
    padding: 0 10px;
    background: #f9f7f3;
    flex: none !important;
    width: 230px !important;
    max-width: 230px !important;
}

.layout_right_content_layout {
    height: 100%;
    width: 100%;
    background: #fff;
    padding: 0 5px;
}

.layout_right_content_layout_left_menu {
    width: 250px;
    height: 100%;
    box-sizing: content-box;
    padding: 5px;
    float: left;
}

.layout_right_content_layout_left_menu_scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.layout_right_content_layout_right_content_markdown {
    overflow: hidden;
}

.layout_right_content_layout_markdown_scroll {
    overflow-y: scroll;
}

.layout_right_content_layout_markdown_scroll::-webkit-scrollbar {
    width: 0 !important
}

.layout_right_content_layout_left_menu_tool {
    height: 40px;
    padding: 0 10px;
    border-left: 5px solid #b7906b;
    border-radius: 10px;
    line-height: 40px;
}

.layout_right_content_layout_left_menu_tool > div {
    width: 200px;
}