
.layout_right_content_layout_left_menu {
    width: 250px;
    height: 100%;
    box-sizing: content-box;
    padding: 5px;
    float: left;
}

.layout_right_content_layout_left_menu_scroll {
    height: 100%;
    border-right: 1px solid #f8f6f1;
    padding-right: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.layout_right_content_layout_left_menu_bottom {
    position: fixed;
    bottom: 0;
    height: 40px;
    z-index: 100;
    background: white;
    width: 250px;
}

.layout_right_content_layout_left_menu_tool {
    height: 40px;
    padding: 0 10px;
    border-left: 5px solid #b7906b;
    line-height: 40px;
}

.back-icon{
    width: 35px;
    font-size: 20px;
    opacity: .8;
    color: #b7906b!important;
    display: inline-block;
}
.sub-menu-tool-title{
    width: 150px;
    display: inline-block;
}