
.layout_right_content_layout_left_menu {
    width: 250px;
    height: 100%;
    box-sizing: content-box;
    padding: 5px;
    float: left;
}

.layout_right_content_layout_left_menu_scroll {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

.layout_right_content_layout_left_menu_bottom {
    position: fixed;
    bottom: 0;
    height: 40px;
    z-index: 100;
    background: white;
    width: 250px;
}